@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100; 400;700&display=swap" rel="stylesheet"');
:root {
    font-family: 'Roboto', sans-serif;
    --main-color:  rgb(23, 103, 129)
} 
body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 40px;
    font-family: 'Roboto';
}
.hat {
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
@media(min-width: 500px) {
    .hat {
     flex-direction: row;
     justify-content: space-around; 
    }
}
.navbar-brand {
    font-size: 26px;
    font-family: 'Roboto';
  }
.navbar.navbar-expand-lg.navbar-light.bg-light {
    font-size: 15px;
}
@media( min-width: 992px) {
    #navbarSupportedContent {
        margin-left: 200px;
    }
    .navbar-brand {
        margin-left: 100px;
    }
}
.bunner {
    background: no-repeat center url(../img/vet1.jpg);
    min-height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }
.bunner-text{
    margin-left: 10px;
}
@media( min-width: 500px) {
    .bunner {
        background-position: center;
        background-size: cover;
    }
    .bunner-text{
    margin-left: 100px;
    font-family: 'Roboto';
}
}
.bunner-text h1 {
    font-size: 60px;
}
.bunner-text p {
    font-size: 17px;
    font-weight: bold;
}
.bunner-text button {
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.bunner-text button:hover {
    background-color:rgb(146, 209, 230) ;
}
.aboutInfo {
font-size: 18px;
margin: 10px;
font-family: 'Roboto';
}
.about-me img{
    display: block;
    width: 100%;
}
.aboutInfo .subtitle {
    font-size: 24px;
}
@media( min-width: 550px) {
    .about-me-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 80px 60px 80px 60px;
    }
    .aboutInfo {
        margin: 0px 20px 0px 20px;
    }
}
.consultation {
    background-color: var(--main-color);
    color: white;
    font-size: 24px;
 }
.consultation h2 {
    text-align: center;
    padding-top: 80px;
}
hr {
    border: 1px solid rgba(17, 167, 231);
    width:8%
}
.advantages {
       display:flex;
       justify-content: space-around;
       flex-wrap: wrap;
       text-align: center;
       padding-bottom: 80px;
}
/* .first_cons img {
    display: block;
    width: 100%;
    margin-top: 80px;
} */
.backgr {
    background-image: url(../img/pet.jpg);
    min-height: 600px;
    background-position:  center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 32px;
    }
    .backgr p{
        padding-top: 200px;
        color: var(--main-color);
    }
.first_cons {
    text-align: center;
    margin: 80px 0px 80px 0px;

}
.img-carousel {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.cons-process {
    background-color: rgb(224, 224, 224);
    text-align: center;
    }
.cons-process h2 {
    padding-top: 80px;
}
.ico-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ico-cont img {
    margin: 30px;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.image-cont img {
    display: block;
    width: 100%;
}